a, article, aside, blockquote, body, div, figure, footer, form, header, input, li, nav, ol, p, section, td, textarea, th, ul {
  position: relative;
  margin: 0;
  font-weight: 400;
  box-sizing: border-box; }

:focus {
  outline: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

iframe {
  display: block;
  width: 100%; }

a {
  text-decoration: none; }

.MainWrapper {
  overflow: hidden; }

.l__row + .l__row {
  margin-top: 3rem; }

.l__wrapper {
  padding: 0 1.2rem;
  max-width: 114rem;
  margin: auto; }

h2 ~ h2, h2 ~ h3, h2 ~ h4, h2 ~ ol, h2 ~ p, h2 ~ ul, p + h2, p + h3, p + h4, p + p, p + ul, section + section {
  margin-top: 3rem; }

div + ol, div + ul, h2 + ol, h2 + p, h2 + ul, h3 + ol, h3 + p, h3 + ul, h4 + ol, h4 + p, h4 + ul {
  margin-top: 0; }

.DesktopNavigation-primary .l__wrapper, .DesktopNavigation-secondary .l__wrapper, .MobileHeader, .MobileSidebar-UserMetadata, .animal-adopt, .animaladoptable, .list--urgent, .section--index .l__wrapper > .main {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

.List--animals, .List--animals .metadata, .List--metadata, .List--thumbs, .MainFooter-listLegalStuff, .MobileSidebar-Menu, .MobileSidebar-UserMetadata, .animaladoptable .takeAction, .list--news, .list--search-filters, .list--social, .list--urgent, .pager, .unstyled {
  list-style: none;
  padding-left: 0; }

.MobileSidebar-UserMetadata .listItem {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1; }

html {
  font-size: 62.5%; }

body {
  font-family: Georgia,serif; }

.h1, h1 {
  position: relative;
  padding: 1.5rem 0;
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 3.2rem; }

.h2, h2 {
  position: relative;
  padding: 1.5rem 0;
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 2.4rem; }

.h3, h3 {
  position: relative;
  padding: 1.5rem 0;
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 1.8rem; }

.h4, h4 {
  position: relative;
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 1.6rem; }

header, li, p {
  font-size: 1.6rem; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

small {
  font-size: 1.2rem;
  line-height: 2rem; }

a {
  color: #1e6fd3; }

.DesktopNavigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.DesktopNavigation-primary .l__wrapper, .DesktopNavigation-secondary .l__wrapper {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row; }

.DesktopNavigation-primary .l__wrapper {
  height: 3rem; }

.Desktop-MainLogo {
  -webkit-align-self: center;
  align-self: center; }

.DesktopSignInLinks .ListItem {
  display: inline-block; }

.DesktopMenu {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1; }

.DesktopMenu .ListItem {
  display: inline-block; }

.DesktopMenu .MenuLink {
  display: block; }

.MainFooter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (max-width: 767px) {
  .MainFooter {
    text-align: center; } }
@media (min-width: 768px) {
  .MainFooter .l__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex; } }
.MainFooter .ListItem {
  display: inline-block; }

.MainFooter-listSocialLinks {
  margin-right: auto; }

@media (max-width: 767px) {
  .MainFooter-listSocialLinks {
    margin-bottom: 1rem; } }
.MainFooter-listSocialLinks .MenuLink {
  display: block; }

.DesktopSearch form {
  margin-top: 5px; }

.DesktopSearch-inputSearch {
  -webkit-appearance: none; }

.DesktopSearch-inputSearch::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none; }

body {
  transition: all ease-in-out .3s; }

.MobileNavigation--primary {
  transition: all ease-in-out .3s;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  width: 80%; }

.MobileSearch:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  width: 2rem;
  height: 2rem; }

.MobileSearch-inputSearch {
  -webkit-appearance: none; }

.MobileNavigation--secondary {
  transition: all ease-in-out .3s;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  width: 80%; }

.MobileSidebar-ProgressBar:before {
  content: attr(data-percentage); }

.MobileSidebar-UserMetadata {
  margin-top: 0; }

.MobileSidebar-Menu .MenuLink, .MobileSidebar-UserMetadata .label {
  display: block; }

.MainBody {
  transition: all ease-in-out .3s; }

.MainFooter {
  transition: all ease-in-out .3s;
  padding: 1.9rem 0 2rem;
  border-top: 1px solid #eee; }

.DesktopNavigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

@media (max-width: 767px) {
  .DesktopNavigation {
    display: none; } }
.DesktopNavigation-primary {
  height: 6rem;
  padding: 1.5rem 0;
  margin: 0; }

.DesktopNavigation-secondary {
  margin: 0;
  border-top: 1px solid #bbb; }

.Desktop-MainLogo {
  color: #333;
  font-family: Lato,sans-serif;
  font-size: 2rem; }

.Desktop-MainLogo:before {
  content: '';
  width: 20px;
  height: 20px;
  outline: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  position: relative;
  margin-right: .66667rem; }

.DesktopMenu {
  padding: 0; }

.DesktopMenu .MenuLink {
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Lato,sans-serif;
  line-height: 60px;
  text-transform: uppercase; }

.DesktopMenu .MenuLink.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  border: 4px solid red;
  border-color: transparent transparent rgba(0, 0, 0, 0.2); }

.MobileHeader {
  transition: all ease-in-out .3s;
  height: 50px;
  padding: 0 1rem;
  border-bottom: 1px solid #1e3340;
  color: #fff;
  line-height: 5rem; }

@media (min-width: 768px) {
  .MobileHeader {
    display: none; } }
.MobileHeader-primary {
  margin-right: auto; }

.MobileHeader-openPrimaryMenu {
  width: 4rem;
  height: 4rem;
  border: 1rem solid transparent;
  background-color: transparent;
  background-size: contain;
  text-indent: -9999rem;
  cursor: pointer; }

.MobileHeader-secondary {
  margin: 0; }

.MobileHeader-linkProfile {
  border-color: #333; }

.MobileHeader-linkProfile:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: .1px;
  height: 100%; }

.MobileHeader .avatar {
  display: inline-block;
  vertical-align: middle; }

.MobileSidebar-Menu .MenuLink {
  display: block;
  padding: 0 0 0 25px;
  padding-left: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #222;
  line-height: 5rem; }

.MobileSidebar-Menu .MenuLink:before {
  background: #eee; }

.is-leftNavOpen {
  -webkit-transform: translate(80%);
  transform: translate(80%); }

.is-rightNavOpen {
  -webkit-transform: translate(-80%);
  transform: translate(-80%); }

.MobileNavigation--primary.is-leftNavOpen, .MobileNavigation--secondary.is-rightNavOpen {
  -webkit-transform: translate(0);
  transform: translate(0); }

.user_scrolled {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

._preventOverflow {
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .mq--small-hidden {
    display: none; } }
@media only screen and (min-width: 768px) {
  .mq--big-hidden {
    display: none; } }
body {
  line-height: 1.4; }

.hidden {
  display: none !important; }

label {
  font-size: 1.6rem;
  font-family: Lato,sans-serif; }

input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], textarea {
  display: block;
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  -webkit-appearance: none; }

textarea {
  height: 200px;
  padding: .5rem 1rem; }

.btn, .pager a, input[type=button], input[type=submit] {
  padding: .5em;
  border: 1px solid #888;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  color: #222;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  display: inline-block;
  cursor: pointer; }

.btn:hover, .pager a:hover, input[type=button]:hover, input[type=submit]:hover {
  background: #eee; }

.btn:active, .pager a:active, input[type=button]:active, input[type=submit]:active {
  background: #fafafa;
  box-shadow: inset 0 4px 5px -5px; }

.btn.max, .pager a.max, input[type=button].max, input[type=submit].max {
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: .6em 19% .6em .8em; }

.btn.disabled, .btn:disabled, .pager a.disabled, .pager a:disabled, input[type=button].disabled, input[type=button]:disabled, input[type=submit].disabled, input[type=submit]:disabled {
  background: #eee;
  color: #888;
  border-color: #aaa;
  box-shadow: none;
  cursor: default; }

.dropdown {
  position: relative;
  display: block;
  margin-top: .15em;
  overflow: hidden;
  width: 100%;
  max-width: 100%; }

.dropdown:after {
  background: 0 0;
  color: #888;
  content: "\25BC";
  font-size: .7em;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1.2em;
  bottom: .3em;
  z-index: 1;
  pointer-events: none; }

.dropdown::-ms-expand {
  display: none; }

.dropdown:hover {
  border: 1px solid #888; }

.dropdown.button {
  border: 1px solid #888;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background: #f3f3f3;
  background: linear-gradient(to bottom, #fff 0, #e5e5e5 100%); }

.dropdown select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  text-indent: .01px;
  text-overflow: "";
  font-size: 16px;
  background: 0 0;
  border: none;
  color: #444;
  outline: 0;
  padding: .4em 19% .4em .8em;
  font-family: helvetica,sans-serif;
  line-height: 1.2;
  margin: .2em; }

.dropdown select[disabled] {
  color: #aaa;
  background: #fafafa; }

.dropdown select:focus {
  outline: 0;
  box-shadow: 0 0 3px 3px rgba(180, 222, 250, 0.85); }

.dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.main--wrapper {
  max-width: 980px;
  margin: auto; }

.l__wrapper {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective-origin: center center;
  -webkit-perspective: 5000px; }

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0.75) translateY(10%) rotateY(30deg);
    opacity: .5; }
  100% {
    -webkit-transform: scale(1) translateY(0) rotateY(0); } }
@-webkit-keyframes popout {
  0% {
    -webkit-transform: scale(1) translateY(0) rotateY(0); }
  100% {
    -webkit-transform: scale(0.75) translateY(10%) rotateY(30deg);
    opacity: 0; } }
.animation--popup {
  -webkit-animation: popup;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running; }

.animation--popout {
  -webkit-animation: popout;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running; }

.urgent {
  padding-bottom: 2em;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fafafa; }

.page--index .urgent {
  background: 0 0;
  border: 0; }

.urgent header h2 {
  border-bottom: 1px solid #eee; }

.list--urgent {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
  margin: 2rem 0;
  width: 100%; }

@media (max-width: 1023px) {
  .list--urgent {
    display: block; } }
.list--urgent > li {
  -webkit-flex: 1 1 240px;
  -moz-flex: 1 1 240px;
  flex: 1 1 240px;
  margin-right: auto; }

@media (max-width: 1023px) {
  .list--urgent > li {
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem; } }
.list--urgent li:nth-child(n+3) {
  margin-top: 4rem; }

.list--urgent img {
  border: 1px solid #bbb; }

.animaladoptable {
  width: 100%; }

.animaladoptable .caption {
  padding-left: 2rem; }

.animaladoptable h3 {
  padding: .5rem 0; }

.animaladoptable img {
  height: 160px;
  width: 160px;
  margin: 0; }

.animaladoptable .takeAction {
  white-space: nowrap;
  margin: 1rem 0; }

.animaladoptable .takeAction li {
  display: block; }

.animaladoptable .takeAction li + li {
  margin-top: 2rem; }

@media (max-width: 767px) {
  .section--index .l__wrapper > .main {
    display: block; } }
.section--index .l__wrapper > .main .news {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1; }

@media (max-width: 767px) {
  .section--index .l__wrapper > .main .news {
    margin-top: 4rem; } }
.section--index .l__wrapper > .main .news .date {
  color: #888;
  margin: 1em 0 .5em; }

.section--index .l__wrapper > .main .featured {
  -webkit-flex: 2;
  -moz-flex: 2;
  flex: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  padding-left: 8rem; }

@media (max-width: 767px) {
  .section--index .l__wrapper > .main .featured {
    padding-left: 0; } }
.list--search-filters {
  margin-bottom: 2rem;
  margin-left: -2rem; }

@media (max-width: 767px) {
  .list--search-filters {
    margin-left: 0; } }
.list--search-filters li {
  display: inline-block;
  vertical-align: bottom;
  min-width: 100px;
  margin-left: 2rem; }

@media (max-width: 767px) {
  .list--search-filters li {
    display: block;
    margin-left: 0;
    margin-top: 2rem; } }
@media (max-width: 767px) {
  .list--search-filters li:last-child {
    margin-top: 2rem; } }
.list--search-filters input {
  padding: .4em 1.2em;
  height: 40px; }

.MainBody {
  padding-bottom: 2rem; }

.jumbotron {
  padding: 0 0 2rem;
  border-bottom: 1px solid #bbb;
  margin-bottom: 2rem;
  background: #fafafa;
  font-family: sans-serif;
  text-align: center; }

.jumbotron .tlf {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #bbb;
  padding: 1rem 2rem;
  border-radius: 2px; }

.jumbotron .tlf-time {
  display: block; }

.news header h2 {
  border-bottom: 1px solid #eee; }

.list--news li ~ li {
  border-top: 1px solid #eee;
  margin-top: 2rem; }

@media (min-width: 768px) {
  .list--news article {
    padding: 0; } }
@media (min-width: 1280px) {
  .list--news article {
    padding-left: 140px; } }
.list--news article img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc; }

@media (min-width: 768px) {
  .list--news article img {
    position: static; } }
@media (min-width: 1280px) {
  .list--news article img {
    position: absolute;
    left: 0;
    top: 2rem; } }
.form--search {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 2rem;
  margin-bottom: 2rem; }

.page--list .form--search {
  padding-top: 1rem; }

.form--search h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem; }

.list--social li {
  display: inline-block;
  margin-right: 5px; }

.list--social .facebook, .list--social .teaming, .list--social .tuenti, .list--social .twitter, .list--social .youtube {
  text-indent: -999em;
  outline: 1px solid red;
  width: 40px;
  height: 40px;
  display: block; }

.MainFooter-listLegalStuff {
  display: block;
  margin: auto; }

.MainFooter .ListItem {
  color: #333; }

.msg--alert {
  padding: 1em 2em; }

.msg--alert p {
  font-family: sans-serif; }

.msg--alert {
  background: #fbeb9c; }

.animal-hero {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.animal-hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  margin: -50%; }

.section--animal > .main {
  background: #fff;
  margin-top: -30%;
  z-index: 10;
  position: relative;
  min-height: 40vh;
  padding: 2rem 8rem 2rem 4rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .section--animal > .main {
    width: 95%;
    padding: 0 2rem 2rem; } }
.animal-adopt {
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 2rem; }

@media (max-width: 767px) {
  .animal-adopt {
    display: block; } }
.animal-adopt .name {
  margin-right: auto;
  white-space: nowrap; }

.animal-entry {
  font-family: sans-serif;
  color: #888;
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

.List--metadata {
  margin-bottom: 2rem; }

.List--metadata .ListItem {
  display: inline-block;
  margin-right: 2rem; }

@media (max-width: 767px) {
  .List--metadata .ListItem {
    display: block;
    margin-bottom: 2rem;
    margin-right: 0; } }
.List--metadata .ListItem:before {
  content: '';
  border: 1px solid red;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem; }

.List--thumbs {
  margin-top: 4rem; }

.List--thumbs .ListItem {
  display: inline-block;
  margin-right: 2rem; }

@media (max-width: 767px) {
  .List--thumbs .ListItem {
    margin-right: 0; } }
@media (max-width: 400px) {
  .List--thumbs .ListItem {
    display: block; } }
.List--thumbs img {
  padding: 10px;
  border: 1px solid #ccc; }

@media (max-width: 400px) {
  .List--thumbs img {
    width: 100%;
    height: auto; } }
.List--animals {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.List--animals .ListItem {
  width: 30%;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em; }

@media (max-width: 1023px) {
  .List--animals .ListItem {
    width: 100%; } }
.List--animals p {
  margin-top: 0; }

.List--animals .animal {
  font-family: sans-serif; }

.List--animals .animal a {
  color: #333; }

.List--animals .pic {
  width: 100%;
  overflow: hidden; }

.List--animals .pic img {
  display: block;
  width: 100%;
  height: auto; }

.List--animals .main {
  padding: 1em; }

.List--animals .name {
  font-size: 3.2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: .25em;
  margin-bottom: .25em; }

.List--animals .metadata {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-top: 0; }

.List--animals .metadata li {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center; }

.pager .ListItem {
  display: inline-block;
  margin-right: .5em; }

.pager a {
  min-width: 30px;
  text-align: center; }

.section--news .news__body {
  max-width: 760px;
  margin-bottom: 4rem; }

.section--listNews {
  margin-bottom: 4rem; }

.pager-wrapper {
  padding-top: 2rem;
  border-top: 1px solid #bbb;
  margin-top: 4rem; }

.pager-wrapper .pager {
  margin-top: 2rem; }
